@import 'tailwindcss';

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

.ant-pagination-sticky {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px 0;
  z-index: 100;
  border-top: 1px solid #f0f0f0;
}

.ant-table-cell {
  white-space: nowrap;
}

/* Custom styles */
.brand-text {
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to right, #1e40af, #3b82f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}